{{>
    head 
    subTitle="Лечение алкогольной зависимости"
    keys="алкоголизм, пянство, запой, пяница, алкоголик, алкоголичка, подшивка, кодировка, алкозависимость"
}}
{{> nav}}
{{> header phones=page.alcohol.phones }}

<h2 class="d">{{page.alcohol.name}}</h2>
<main>
{{> alcohol}}
</main>
{{> footer}}