{{>
head
subTitle="Лицензированая специализированая клиника по лечению напрко зависимых больных в городе запрожжье"
}}
{{> nav}}
{{> header}}
<h2 class="d">Свидетельство и лицензии</h2>
<main>
{{> document}}
</main>
{{> footer}}