{{>
head
subTitle="Выведение из запоя на дому"
meta=page.drink.meta
keys="алкоголизм, пянство, запой, пяница, алкоголик, алкоголичка, капельница, похмелье, бросить, пить"
}}
{{> nav}}
{{> header phones=page.drink.tel}}
<h2 class="d">{{page.drink.name}}</h2>
<main>
{{> drink}}
</main>
{{> footer}}