{{>
head
subTitle="Лечение никотиновой зависимости"
keys="табак, табакокурение, никоинозависимость, сигаретокурение, курильщик, сигаретозависимость, табакозависимость, зависимость, бросить, курить"
}}
{{> nav}}
{{> header phones=page.drug.phones }}
<h2 class="d">{{page.drug.name}}</h2>
<main>
{{> drug}}
</main>
{{> footer}}