{{>
head
subTitle="Электротранквилизация в городе Запорожье"
keys="электротранквилизация, электротерапия, терапия, физиотерапия, электрофизиотерапия, наркология"
}}
{{> nav}}
{{> header}}
<h2 class="d">Электротранквилизация</h2>
<main>
{{> electrotranquilization_nark}}
</main>
{{> footer}}