{{>
head
subTitle="Физиотерапия в городе Запорожье"
keys="физиотерапия, лазер, дарсонвализация, електротранквилизация, терапия"
}}
{{> nav}}
{{> header}}
<h2 class="d">{{page.fizeo_info.name}}</h2>
<main>
{{> fizeo_info}}
</main>
{{> footer}}