{{>
head
subTitle="Лечение игровой зависимости"
keys="игрозависимость, игромания, азарт"
}}
{{> nav}}
{{> header phones=page.game.phones}}
<h2 class="d">{{page.game.name}}</h2>
<main>
{{> game}}
</main>
{{> footer}}