{{> head
meta=page.index.meta
keys="психолог, психотерапевт, нарколог, завсимость, лечение, алко, никотино, игро, кодирование, физиотерапия, терапия, лечение"
}}
{{> nav}}
{{> carusel}}
<h2 class='d'>Наши услуги</h2>
<main>
{{> index}}
</main>
{{> footer}}