{{>
head
subTitle="Лазерная гемотерапия в городе Запорожье"
keys="гемотерапия, лазер, лазеротерапия, физиотерапия"
}}
{{> nav}}
{{> header}}
<h2 class="d">Лазерная гемотерапия</h2>
<main>
{{> lazer_nark}}
</main>
{{> footer}}