footer {
    padding: 0 1em;
    text-align: center;
    & h2 {
        min-height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & h3, & h2 {
        min-height: 3em;
        .my(.5em);
        & a {
            display: inline-flex;
            align-items: center;
            height: 100%;
            vertical-align: center;
        }
    }
    & > ul {
        width: 100%;
        max-width: @container;
        display: flex;
        .mx(auto);
        .py(0 1rem);
        @media (max-width: 768px) {
            flex-direction: column;
        }
        & > li {
            display: flex;
            flex-direction: column;
            & > h3 {
                min-height: 4.5em;
            }
            .mq({
                width: 100%;
                .my(1rem);
            }, @sm, {
                @del: (100% / 3);
                width: @del;
            });
            font-weight: 300;
            & > address {
                font-size: 1.25em;
                margin-top: auto;
                & > a {
                    min-height: 2.5em;
                    padding: 1em auto;
                    display: inline-block;
                    width: 100%;
                }
            }
        }

        & ul {
            & > li {
                .my(.5rem);
            }
        }
    }
    > div {
        .bdy(1px solid @light);
        .py(1em);
        a[href^='mailto'] {
            font-size: 1.25em;
            margin-top: auto;
            min-height: 2.5em;
            display: inline-block;
        }
    }
}