.avif #h{
    @media (orientation: landscape) {
        background-image: url('/c/drug.avif');
    }
    @media (orientation: portrait) {
        background-image: url('/c/drug-p.avif');
    }
}

.webp #h{
    @media (orientation: landscape) {
        background-image: url('/c/drug.webp');
    }
    @media (orientation: portrait) {
        background-image: url('/c/drug-p.webp');
    }
}

.old #h{
    @media (orientation: landscape) {
        background-image: url('/c/drug.jpg');
    }
    @media (orientation: portrait) {
        background-image: url('/c/drug-p.jpg');
    }
}
#h {
    background-attachment: fixed;
    background-position: center top 80%;
    @media (min-height: 450px) {
        background-position: center top -120px;
    }
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:0 0 10px hsla(0,0%,100%,.5);
    text-shadow:2px 5px 3px #fff;
    color:#225;
    height:360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    & > ul {
        .mq({
            display: block;
        }, @xs, {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-evenly;
            position: absolute;
            margin-top: 180px;
        });
    }
}