<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}{{#if subTitle}} | {{subTitle}}{{/if}}</title>
    <meta name="description" content="Лечение наркологических зависимостей в городе Запорожье"> 
    <link rel="stylesheet" href="/main.css">
</head>
<body>