<img src="/qr.png" width="160.5" height="160.5" alt="QR">
<dl id="cost">
    <dt>Безналичная оплата при помощи QR-кода</dt>
    <dd>
        <ol>
            <li>Войдите в приложение Приват24 на Вашем смартфоне.</li>
            <li>Нажмите [ ] внизу экрана.</li>
            <li>Отсканируйте QR-код. На смартфоне откроется форма, в которую Вам необходимо ввести сумму оплаты и Ф.И.О. пациента.</li>
            <li>Выберите карту для оплаты.</li>
            <li>Сообщите нам об оплате по телефону или в мессенджерах, указав Ф.И.О. пациента и сумму платежа.</li>
        </ol>
    </dd>
    <dt>Оплата через терминал самообслуживания Приватбанка</dt>
    <dd>
        <ol>
            <li>Идентифицируйте себя при помощи банковской карты или через номер телефона в терминале самообслуживания Приватбанка.</li>
            <li>В разделе УСЛУГИ выберите пункт «Внесение платежей от физических лиц на расчетный счет предприятия». Перед Вами откроется форма, в которую необходимо внести расчетный счет предприятия «МЕДИЦИНСКИЙ ЦЕНТР «ИНТЕЛ-МЕДИС»: UA713133990000026005055705217</li>
            <li>В следующей форме введите сумму платежа и Ф.И.О. пациента. Следуйте указаниям программы и внесите необходимую сумму в терминал. Распечатайте квитанцию.</li>
        </ol>
    </dd>
    <dt>Оплата через кассу отделения Приватбанка</dt>
    <dd>
        <ol>
            <li>Предоставьте кассиру реквизиты ЧП «МЕДИЦИНСКИЙ ЦЕНТР «ИНТЕЛ-МЕДИС»: 
                <ol>
                    <li>IBAN: <strong>UA713133990000026005055705217</strong></li>
                    <li>Идентификационный код предприятия (ЄДРПОУ): <strong>35627687</strong></li>
                </ol>
            </li>
            <li>Укажите назначение платежа: Оплата медицинских услуг от (<b>Ф.И.О.</b> пациента)</li>
            <li>Получите квитанцию.</li>
        </ol>
    </dd>
</dl>