<div class='in'>
    ​<picture>
        <source srcset="/fizeo/0.avif" type="image/avif">
        <source srcset="/fizeo/0.webp" type="image/webp">
        <img src="/fizeo/0.jpg" alt="fizeo" width="400" height="225">
    </picture>
    <div>
        <p>В медицинском центре «ИНТЕЛ-МЕДИС» в комплексном лечении, а также дальнейшей реабилитации больных, мы максимально полно используются современные физиотерапевтические методики.</p>
        <h4>Виды физиотерапевтического лечения:</h4>
        <ul>
            <li>Электросон-терапия</li>
            <li>Транскраниальная электростимуляция</li>
            <li><a href="/electrotranquilization">Электротранквилизация <i>i</i></a></li>
            <li><a href="/darsonvalization">Дарсонвализация <i>i</i></a></li>
            <li><a href="/lazer">Красная/инфракрасная лазерная терапия <i>i</i></a></li>
        </ul>
        <h5>Применении в наркологии</h5>
        <ul>
            <li><a href="/electrotranquilization_nark">Электротранквилизации <i>i</i></a></li>
            <li><a href="/lazer_nark">Лазерной терапии <i>i</i></a></li>
        </ul>
    </div>
</div>
<div class='in'>
    ​<picture>
        <source srcset="/fizeo/1.avif" type="image/avif">
        <source srcset="/fizeo/1.webp" type="image/webp">
        <img src="/fizeo/1.jpg" alt="fizeo" width="400" height="225">
    </picture>
    <div>
        <p>Физиотерапевтические методики способствуют быстрейшему восстановлению больных, нормализации вегетативно-сосудистых, неврологических и соматических расстройств (снижается болевой синдром, улучшаются функции легких, почек, в организме улучшается кровообращение, обмен веществ, повышается сопротивляемость организма). Также применение этих методов лечения позволяет повысить эффективность проводимой терапии, снизить дозу психотропных препаратов, получаемых пациентами, и уменьшить продолжительность лечения.</p>
        <p>Использование физиотерапии в реабилитационных программах, наряду с клинической реабилитацией признано как одно из наиболее действенных направлений эффективных наркологических программ в странах Европы и США.</p>
        <a class="btn" href="/fizeo_info/">Подробнее</a>
    </div>
</div>